.mdl-button.mdl-button--colored {
    color: #66435A;
}

.ribbon {
  background-color: #000000;
}

.header .mdl-layout__header-row {
  background-color: #D6D2C4;
  color: #000000;
}

.logo-header {
 background: url('../../img/logo-black-50h.png') center right no-repeat;
}

.footer {
  background-color: #9ea2a2;
}

.footer .mdl-logo {
  color: #000000;
}

.logo-footer {
  background: url('../../img/footer-logo-black-100.png') center right no-repeat;
}

/* unvisited link */
a:link {
    color: #004E60;
}

/* visited link */
a:visited {
    color: #004E60;
}

/* mouse over link */
a:hover {
    color: #9ea2a2;
}

/* selected link */
a:active {
    color: #004E60;
}