.mdl-button.mdl-button--colored {
    color: #66435A;
}

.ribbon {
  background-color: #66435A;
}

.header .mdl-layout__header-row {
  background-color: #C8D8EB;
  color: #000000;
}

/*

.logo-header {
 background: url('../../img/logo-color-50h.png') center right no-repeat;
}

.logo-footer {
  background: url('../../img/footer-logo-white-100.png') center right no-repeat;
}

*/

.footer {
  background-color: #000000;
}

.footer .mdl-logo {
  color: #ffffff;
}

/* unvisited link */
a:link {
    color: #66435A;
}

/* visited link */
a:visited {
    color: #66435A;
}

/* mouse over link */
a:hover {
    color: #9ea2a2;
}

/* selected link */
a:active {
    color: #66435A;
}